{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Basic Information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'styles/basic_page.css' %}" />
  </head>
  <body>
    <div class="basic-container">
      <div class="info-container">
        <div class="info-section">
          <h3>Device Name</h3>
          <p>{{instance.device_name}}</p>
        </div>
        <div class="info-section">
          <h3>Device Location</h3>
          <p>{{instance.device_location}}</p>
        </div>
        <div class="info-section">
          <h3>MAC</h3>
          <p>{{instance.mac_address}}</p>
        </div>
        <div class="info-section">
          <h3>System Boot Time</h3>
          <p>{{instance.system_boot_time}}</p>
        </div>
        <div class="info-section">
          <h3>Product Model</h3>
          <p>{{instance.product_model}}</p>
        </div>
        <div class="info-section">
          <h3>Firmware Version</h3>
          <p>{{instance.firmware_version}}</p>
        </div>
        <div class="info-section">
          <h3>Static IP Address</h3>
          <p>192.168.0.75</p>
        </div>
        <div class="info-section">
          <h3>DHCP IP Address</h3>
          <p>N/A</p>
        </div>
      </div>
      <div class="edit-container">
        <form method="post">
          {% csrf_token %}
          <div class="edit-section">
            <h3>Device Name</h3>
            <input
              type="text"
              name="device_name"
              value="{{ form.device_name.value }}"
            />
          </div>
          <div class="edit-section">
            <h3>Device Location</h3>
            <input
              type="text"
              name="device_location"
              value="{{ form.device_location.value }}"
            />
          </div>
          <div class="button-container">
            <button type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
