{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'styles/home_page.css' %}">
  </head>
  <body>
    {% include 'web/navbar.html' %}
    {% include 'web/header.html' %}

    <div class="main-container">
      {% if sub_page %}
        {% include 'web/'|add:sub_page|add:'.html' %}
      {% else %}
        {% if image_url %}
          <div class="image-container">
            <img src="{{ image_url }}" alt="Image">
          </div>
        {% endif %}
      {% endif %}
    </div>

  </body>
</html>
