{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}" />
  </head>
  <body>
    <nav class="navbar">
      <button class="expand-btn">
        <i class="fa-solid fa-angle-up fa-rotate-90"></i>
      </button>
      <a href="/" class="title-home-link">
        <div class="title-container">
          <p class="navbar-title">DRF</p>
          <p class="navbar-subtitle">Of the Device</p>
        </a>
      </div>
      <div class="menu">
        <div class="menu-item">
          <a href="javascript:void(0)" class="dropdown-btn"
          >System <span class="arrow">&#9660;</span></a
            >
            <div class="dropdown-container">
              <a href="/system/basic/">Basic Information</a>
              <a href="/system/datetime/">Date Time</a>
            </div>
          </div>
          <div class="menu-item">
            <a href="javascript:void(0)" class="dropdown-btn"
            >Video <span class="arrow">&#9660;</span></a
              >
              <div class="dropdown-container">
                <a href="#">Option 1</a>
                <a href="#">Option 2</a>
                <a href="#">Option 3</a>
              </div>
            </div>
            <div class="menu-item">
              <a href="javascript:void(0)" class="dropdown-btn"
              >Link <span class="arrow">&#9660;</span></a
                >
                <div class="dropdown-container">
                  <a href="#">Option 1</a>
                  <a href="#">Option 2</a>
                  <a href="#">Option 3</a>
                </div>
              </div>
              <div class="menu-item">
                <a href="javascript:void(0)" class="dropdown-btn"
                >Network <span class="arrow">&#9660;</span></a
                  >
                  <div class="dropdown-container">
                    <a href="#">Option 1</a>
                    <a href="#">Option 2</a>
                    <a href="#">Option 3</a>
                  </div>
                </div>
                <div class="menu-item">
                  <a href="javascript:void(0)" class="dropdown-btn"
                  >Security <span class="arrow">&#9660;</span></a
                    >
                    <div class="dropdown-container">
                      <a href="#">Option 1</a>
                      <a href="#">Option 2</a>
                      <a href="#">Option 3</a>
                    </div>
                  </div>
                </div>
              </nav>

              <script>
                var dropdown = document.getElementsByClassName("dropdown-btn");
                var i;

                for (i = 0; i < dropdown.length; i++) {
                  dropdown[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var dropdownContent = this.nextElementSibling;
                    if (dropdownContent.style.display === "block") {
                      dropdownContent.style.display = "none";
                    } else {
                      dropdownContent.style.display = "block";
                    }
                  });
                }
              </script>
              <script
                src="https://kit.fontawesome.com/4f68f691df.js"
                crossorigin="anonymous"
              ></script>
            </body>
          </html>
